.isWeekend {
  color: red;
}
.isHoliday {
  color: pink;
  font-weight: bolder;
}
.isOther {
  color: gray;
}

.calendar {
  margin: 22px 11px;
  padding: 10px;
  display: inline-block;
  border: 1px solid #ccc;
}
